{% extends 'base.html.twig'%}
{% block body %}
{{ parent() }}
<h1>The footer element</h1>

<footer>
  <p>Posted by: Hege Refsnes</p>
  <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
</footer>
{% endblock body %}
