{% extends "base.html.twig" %} 
 
{% block body %}

<div class="navbar">
  <a href='{{ path('liste')}}'>Liste</a>
  <a href='{{ path('app_register') }}'>Register</a>
  <a href='{{ path('app_login')}}'>Login</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h2>Mega Menu</h2>
      </div>   
      <div class="row">
        <div class="column">
          <h3>Category 1</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
  </div> 
</div>

    <div style="padding:16px">

    </div>


{% endblock %}
